@font-face {
  font-family: 'Alkalami';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Alkalami-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Anton-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Oxygen';
  font-style: bold;
  font-weight: 700;
  src: url(/fonts/Oxygen-Bold.ttf) format('ttf');
}
